 * {
  font-family: monospace;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}
.questions {
  position: relative;
  display: grid;
  padding: 15px;
}
.form-group {
  position: relative;
  display: grid;
  width: 200px;
  padding: 15px;
}
.radio {
  display: block;
  position: relative;
  user-select: none;
}
.radio .container {
  cursor: pointer;
}
#select1, #select2, #select3 {
  display: grid;
  position: relative;
  cursor: pointer;
  width: fit-content;
}
#result1, #result2, #result3 {
  display: none;
}
#result1 p, #result2 p, #result3 p {
  padding: 6px;
  margin: 5px;
}
.btn {
  background-color: #24a0ed;
  color: whitesmoke;
  text-decoration: underline;
  position: relative;
  display: grid;
  padding: 15px;
  left: 12px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.userName {
  font-style: oblique;
  font-weight: bold;
}
img {
  width: 200px;
  height: auto;
}