body {
  background-color: antiquewhite;
}
.radio {
  display: block;
  position: relative;
  padding-left: 40px;
  user-select: none;
}
.radio .container {
  cursor: pointer;
}
#select1, #select2, #select3 {
  display: block;
  position: relative;
  cursor: pointer;
}
#result1, #result2, #result3 {
  display: none;
}
.btn {
  text-decoration: underline;
}
img {
  width: 200px;
  height: auto;
}